<div class="container">
    <h1 id="main-title">Sign Up</h1>
   
    <form [formGroup]="registerForm">
        <div class="form-group">
            <label>User Name</label>
            <input type="text" formControlName="UserName" class="form-control" placeholder="User Name"
                [ngClass]="{ 'is-invalid': f.UserName.errors }" required />
            <div *ngIf="f.UserName.invalid && (f.UserName.dirty || f.UserName.touched)" class="invalid-feedback">
                <div *ngIf="f.UserName.hasError('required')">User Name is required</div>
            </div>
            <div *ngIf="f.UserName.invalid && (f.UserName.dirty || f.UserName.touched)" class="invalid-feedback">
                <div *ngIf="f.UserName.hasError('pattern')">User Name is only in letter.</div>
            </div>
        </div>
        <div class="form-group">
            <label>Socity Name</label>
            <input type="text" class="form-control" formControlName="SocityName"
                [ngClass]="{ 'is-invalid': f.SocityName.errors }" required placeholder="Socity Name" />
            <div *ngIf="f.SocityName.invalid && (f.SocityName.dirty || f.SocityName.touched)" class="invalid-feedback">
                <div *ngIf="f.SocityName.hasError('required')">Socity Name is required</div>
            </div>
        </div>
        <br>
        <div>
            <button [disabled]="registerForm.invalid" class="btn btn-lg btn-primary float-center">Register</button>
        </div>
    </form>
</div>