<div class="row">
    <div class="col-xxxl- col-xxl-6 col-lg-6 col-md-6">
        <nb-card>
            <nb-card-header>table</nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="data" (deleteConfirm)="onDeleteConfirm($event)">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xxxl- col-xxl-6 col-lg-6 col-md-6">
        <nb-card>
            <nb-card-header>Bar</nb-card-header>
            <nb-card-body>
                <div echarts [options]="options" class="echart"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>