<div class="container">
    <div class="card" style="width:100%;">
        <div class="card-body">
            <form [formGroup]="memberForm" class="row">
                <div formArrayName="memberDetails"
                    *ngFor="let memberData of memberForm.controls['memberDetails']['controls']; let i = index">
                    <div [formGroupName]="i">
                        <div class="row col-12" style="margin-right: 0px; margin-left: 21px;">
                            <div class="">
                                <input type="text" placeholder="Member Name" formControlName="MemberName"
                                    name="MemberName" class="form-control" autocomplete="off"
                                    [ngClass]="{'is-invalid' : memberData.get('MemberName').errors}" required />

                                <div class="invalid-feedback"
                                    *ngIf="memberData.get('MemberName').invalid && memberData.get('MemberName').dirty || memberData.get('MemberName').touched">
                                    <div *ngIf="memberData.get('MemberName').hasError('required')">
                                        MemberName is required.</div>
                                </div>

                                <div class="invalid-feedback"
                                    *ngIf="memberData.get('MemberName').dirty || memberData.get('MemberName').touched">
                                    <div *ngIf="memberData.get('MemberName').hasError('pattern')">
                                        Name is only in letter.</div>
                                </div>
                            </div>
                            <div class="">
                                <input type="text" placeholder="Member Phone No" formControlName="MemberPhoneNo" 
                                    name="MemberPhoneNo" class="form-control" autocomplete="off" maxlength="10"
                                    [ngClass]="{'is-invalid' : memberData.get('MemberPhoneNo').errors}" />


                                <div class="invalid-feedback"
                                    *ngIf="memberData.get('MemberPhoneNo').invalid && memberData.get('MemberPhoneNo').dirty || memberData.get('MemberPhoneNo').touched">
                                    <div *ngIf="memberData.get('MemberPhoneNo').hasError('required')">
                                        Member Phone No is required.</div>
                                </div>

                                <div class="invalid-feedback"
                                    *ngIf="memberData.get('MemberPhoneNo').dirty || memberData.get('MemberPhoneNo').touched">
                                    <div *ngIf="memberData.get('MemberPhoneNo').hasError('pattern')">
                                        Only 10 Digit Allows
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-danger" (click)='removeMember(i)'><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>

                <button (click)="AddRow()" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                <div class="col-md-12">
                    <button [disabled]="memberForm.invalid" (click)="SaveMember()" class="btn btn-primary">Submit</button>
                </div>
            </form>

            <br />
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mobile No</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!memberDataArr || memberDataArr.length == 0">
                        <td colspan="2" style="text-align: center;">No Records Found</td>
                    </tr>
                    <tr *ngFor="let data of memberDataArr">
                        <td>{{data.MemberName}}</td>
                        <td>{{data.MemberPhoneNo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>